body {
    background-color: rgb(242, 245, 253);
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.column {
    float: left;
    width: 25%;
}

.left {
    width: 25%;
}

.right {
    width: 60%;
}

.homepage {
    background-color: #FFE9E4;

}


/*
.home-button {
    background-color: red;
    border: none;
    color: black;
    padding: 10px 16px;
    margin: auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
} */

.prof-office-button {
    text-align: center;
    color: red;
}

/* Styling the Top Navigation Bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

/* Will default the links to the left */
li {
    float: left;
}

/* Styling the links themselves */ 
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
}

/* Styling the links on hover */
li a:hover {
    background-color: red;
    color: black;
}

/* Styling the home button top right so user knows it is the currently selected one */
.active {
    background-color: gold;
    color: black;
}

/* Styling the image */
.center_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

/* Styling the intro paragraph */
.intro_section {
    text-align: center;
}