* {
    margin: 10;
    border: 10;
  }
  
  .outer {
    position:relative;
  }
  
  .calendar {
    background-color: #FFE9E4;
  
      margin: 10 auto;
      margin-left: 200px;
    max-width: 1280px;
    min-width: 500px;
  
    box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.2) , 0px 3px 7px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .wrap {
    overflow-x: hidden;
    overflow-y: scroll;
      max-width: 1280px;
    height: 500px;
    border-radius: 5px;
  }
  
  thead {
      box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
  }
  
  thead th {
  
    text-align: center;
    width: 100%;
  
  }
  
  header {
    background: #FFE9E4;
    color: rgba(0, 0, 0, 0.7);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px 8px 0px 0px;
  }
  
  header h1 {
   font-size: 1.25rem;
   text-align: center;
   font-weight: normal;
  }
  
  tbody {
      position: relative;
    top: 50px;
  }
  table {
    background: #fff;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    table-layout: fixed;
  }
  
  .headcol {
    width: 60px;
    font-size: 0.875rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
    padding: 0.25rem 0;
    text-align: center;
    border: 0;
    position: relative;
    top: -12px;
    border-bottom: 1px solid transparent;
  }
  
  thead th {
    font-size: 1rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.9);
    padding: 1rem;
  }
  
  thead {
      z-index: 2;
      background: white;
      border-bottom: 2px solid #ddd;
  
  }
  
  tr, tr td {
    height: 20px;
  }
  td {
    text-align: center;
  }
  tr:nth-child(odd) td:not(.headcol) {
    border-bottom: 1px solid #e8e8e8;
  }
  
  tr:nth-child(even) td:not(.headcol) {
    border-bottom: 1px solid #eee;
  }
  
  tr td {
    border-right: 1px solid #eee;
    padding: 0;
    white-space: none;
    word-wrap: nowrap;
  }
  
  tbody tr td {
    position: relative;
    vertical-align: top;
    height: 40px;
    padding: 0.25rem 0.25rem 0 0.25rem;
    width: auto;
  
  }
  
  .secondary {
    color: rgba(0, 0, 0, 0.4);
  }
  
  
  .checkbox {
     display: none;
  }
  
  .checkbox + label {
      border: 0;
      outline: 0;
      width: 100px;
      height: 100px;
      background: white;
      color: transparent;
      display:block;
    display: none;
  }
  
  .checkbox:checked + label {
      border: 0;
      outline: 0;
      width: 100%;
      height: 100%;
      background: red;
      color: transparent;
      display: inline-block;
  }
  
  .event {
    background: black;
    color: white;
    border-radius: 2px;
    text-align: left;
    font-size: 0.875rem;
    z-index: 2;
    padding: 0.5rem;
    overflow-x: hidden;
    transition: all 0.2s;
    cursor: pointer;
  }
  
  .event:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    background: #000000;
  }
  
  .event.double {
    height: 200%;
  }
  
  .button {
    font-size: 1em;
    background: black;
    color: rgb(255, 255, 255);
    border: 2px solid #000000;
    border-radius: 2px;
    text-align: left;
    font-size: 0.825rem;
    z-index: 2;
    padding: 0.5rem;
    overflow-x: hidden;
    transition: all 0.2s;
    cursor: pointer;
  }

  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  /**
  thead {
      tr {
        display: block;
        position: relative;
      }
    }
  tbody {
      display: block;
      overflow: auto;
      width: 800px;
      height: 100%;
    }
  */
  
  
  
  /* td:hover:after {
    content: "+";
    vertical-align: middle;
    font-size: 1.875rem;
    font-weight: 100;
    color: rgba(0, 0, 0, 0.5);
    position: absolute;
  } */
  
  .today {
    color: red;
  }
  
  