* {
    margin: 0;
    padding: 0;
}
.imgbox {
    display: grid;
    height: 100%;
}
.center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

.campus-map {
    background-color: #FFE9E4;


    text-align: center;
    margin: 10 auto;
    margin-left: 200px;
    max-width: 1280px;
    min-width: 500px;
  
    box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.2) , 0px 3px 7px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}